div.m-menu.clearfix
  div.container
    ul
      li.m-menu--item
        a(href="#") Tietoa Enbrelistä
      li.m-menu--item
        a(href="#") Hoidettavat sairaudet
      li.m-menu--item
        a(href="#") Täyttä elämää
      li.m-menu--item
        a(href="#") Yhteisö
      li.m-menu--item
        a(href="#") Usein kysyttyä