div.m-search
  span.m-search--button
  span.m-search--separator |
  div.m-search--entry 
    span.m-search--title 
      strong Enbrel
        sup ® 
      | etaneresepti
    br 
    span.m-search--subtitle Vnr 04 75 60
  span.m-search--navigation

