div.m-standard-entry
  div.container
    img.m-standard-entry--image(src="./images/entry-image.png")
    h2.m-standard-entry--title Lorem ipsutm dolor sit amet
    div.m-standard-entry--copy 
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex velit.