div.m-3colthumbs
  div.m-3colthumbs--entry.a
    span.m-3colthumbs--playbtn
    span.m-3colthumbs--image(style="background-image:url(./images/Sky.jpg)")
    h3.m-3colthumbs--title Pistosvideo 1
  div.m-3colthumbs--entry.b
    span.m-3colthumbs--playbtn
    span.m-3colthumbs--image(style="background-image:url(./images/Sky.jpg)")
    h3.m-3colthumbs--title Pistosvideo 2
  div.m-3colthumbs--entry.c
    div.m-3colthumbs--playbtn
      h3.m-3colthumbs--title Pistosvideo 2
    span.m-3colthumbs--image(style="background-image:url(./images/Sky.jpg)")

