div.m-2colentry
  div.container

    //- Entry 
    div.m-2colentry--entry.a
      //- activate bottom if used
      div.m-2colentry--overlay
        div.m-2colentry--copy
          h3 Enbrel-esittely
          p Kirjaudu tästä sivulle, jolla kerrotaan psoriaasista sekä Enbrelin (etanersepti) turvallisesta käytöstä.
      div.m-2colentry--main
        img.m-2colentry--image(src="./images/Sky.jpg")
        h3.m-2colentry--title Enbrel-esittely
      div.m-2colentry--excerpt.is-mobile.a
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo laboriosam iste consequatur, nesciunt eaque reprehenderit.

    //- Entry (same as above)
    div.m-2colentry--entry.b
      div.m-2colentry--overlay
        div.m-2colentry--copy  
          h3 Ennen hoitoa
          p Kirjaudu tästä sivulle, jolla kerrotaan psoriaasista sekä Enbrelin (etanersepti) turvallisesta käytöstä.
      div.m-2colentry--main  
        img.m-2colentry--image(src="./images/Sky.jpg")
        h3.m-2colentry--title Ennen hoitoa
      div.m-2colentry--excerpt.is-mobile.b
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo laboriosam iste consequatur, nesciunt eaque reprehenderit.