div.m-2colentry
  div.container

    //- Entry 
    div.m-2colentry--entry.a
      //- activate bottom if used
      //- div.m-2colentry--overlay
      //-   div.m-2colentry--copy
      img.m-2colentry--image(src="./images/Sky.jpg")
      h3.m-2colentry--title Enbrel-esittely
      //- div.m-2colentry--excerpt.is-mobile
      //-   p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo laboriosam iste consequatur, nesciunt eaque reprehenderit.

    //- Entry (same as above)
    div.m-2colentry--entry.b
      div.m-2colentry--overlay
        div.m-2colentry--copy  
          h3 Ennen hoitoa
          p Kirjaudu tästä sivulle, jolla kerrotaan psoriaasista sekä Enbrelin (etanersepti) turvallisesta käytöstä.
      img.m-2colentry--image(src="./images/Sky.jpg")
      h3.m-2colentry--title
      //- div.m-2colentry--excerpt.is-mobile
      //-   p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo laboriosam iste consequatur, nesciunt eaque reprehenderit.