.m-3colthumbs{
  @extend .clearfix;
  &--entry{
    @extend .col-md-4;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    position: relative;
  }
  &--image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 350px;
    width: 100%;
    display: inline-block;
  }
  &--playbtn{
    background: url(../images/playbtn.png) no-repeat center;
    width:100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    transition:all 0.2s linear;
    &:hover{
      background-color: rgba(0,0,0,0.2);
    }
  }
  &--title{
    bottom: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
  }
}