doctype html
html
  head
    title= title
    
    meta(name="viewport", content="initial-scale=0.7, user-scalable=no")

    link(rel='stylesheet', href='/stylesheets/style.min.css')

    script(src='/javascripts/fonts.js')
    script(src='/javascripts/scripts.min.js')
    script(src='//localhost:35729/livereload.js')

  body
    include layout/header
    include layout/main
    include layout/footer