// Default Typography
// Rules : no class should be here instead of having a good reason. =)
*{
  vertical-align: top;
}
body{
  font-family:$fonts-secondary;
  font-size: 23px;
  color: #999;
  @media (max-width: 992px){
    font-size:17px;
  }
}
a{
  color: #0093d0;
  &:hover{
    text-decoration: none;
    // color:
  }
}
p{
  line-height: 1.4;
  @media (max-width: 992px){
    line-height: 1.6;
  }
}
ul, ol{
  padding: 0;
  margin: 0;
  list-style: none;
}

// Typo
h1{
  font-family: $fonts-tertiary;
  font-size: 72px;
  @media (max-width: 992px){
   font-size: 36px; 
  }
}
h2{
  font-family: $fonts-tertiary;
  font-size: 47px;
  margin-bottom: 40px;
  @media (max-width: 992px){
    font-size: 36px; 
  }
}
h3{
  font-family: $fonts-tertiary;
  font-size: 35px;
  @media (max-width: 992px){
    font-size: 24px; 
  }
}

