@font-face {
  font-family: 'pdotbetathin';
  src: url('../fonts/pdot/pdotbeta.eot');
  src: url('../fonts/pdot/pdotbeta.eot?#iefix') format('embedded-opentype'),
       url('../fonts/pdot/pdotbeta.woff2') format('woff2'),
       url('../fonts/pdot/pdotbeta.woff') format('woff'),
       url('../fonts/pdot/pdotbeta.ttf') format('truetype'),
       url('../fonts/pdot/pdotbeta.svg#pdotbetathin') format('svg');
  font-weight: normal;
  font-style: normal;
}