//.is-

// Menu
.m-menu--item{
  &.is-active{
    opacity: 1;
  }
}
// Two Column Entry
.m-2colentry--entry{
  &.is-active, &:hover{
    .m-2colentry--overlay{
      top:0px;
    }
    .m-2colentry--title{
      top: -100px;
    }
  }
}

.is-mobile{
  display: none;
  @media (max-width: 992px){
    display: block;
  }
}