// Fonts
$fonts-primary   : "pdotbetathin";
$fonts-secondary : "FS Albert Web Regular", Verdana , sans-serif;
$fonts-tertiary  : "FS Albert Web Bold", Verdana , sans-serif;

// Colors
$skyblue : #75d1e0;

$gutter : 20px;